.videoCard{
    margin-bottom: 40px;
    width: 270px;
}

.videCard-img{
    height: 140px;
    width: 250px;
}

.videoCardInfo{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoText{
    margin-left: 15px;
}

.videoText > h4{
    font-size: 14px;
    margin-bottom: 5px;
}

.videoText > p{
    font-size: 14px;
    color: grey;
}

.videoCardAvatar{
    height: 30px !important;
    width: 30px !important;
}